.sidebar-btn {
  padding: 1.5rem 1.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: start;

  text-decoration: none;
  color: black;
  font-weight: 300;
  position: relative;
  border-radius: 1rem;

  &:hover svg {
    scale: 1.1;
  }
}
.active {
  background: linear-gradient(to left, #bb917c, #cea793);
}

.arrow {
  margin-left: auto;
}
