@import "../../../../utils/mixins";

.sidebar {
  position: relative;
  min-width: 25rem;
  width: 25rem;
  left: 0rem;

  background-color: rgb(240, 240, 240);
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.15s ease-in;

  z-index: 99;
}

.nav {
  margin-top: 2rem;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.8rem;
}

.li {
  display: flex;
}

.btn-add {
  padding: 1.5rem 1.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: start;

  text-decoration: none;
  color: black;
  font-weight: 300;
  position: relative;
  border-radius: 1rem;

  &:hover svg {
    scale: 1.1;
  }
}

.icon-arrow {
  margin-left: auto;
}

.btn-icon {
  height: 2.5rem;
  width: 2.5rem;

  margin-right: 1.5rem;
  fill: hsla(0, 0%, 0%, 0.75);

  transition: all 0.2s;
}

.btn-icon--inner {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1.5rem;
  fill: hsla(0, 0%, 100%, 0.9);
}

.toggle-icon {
  cursor: pointer;
  fill: rgb(20, 20, 20);
  margin-left: 0.5rem;
  position: fixed;
  bottom: 0.5rem;
  left: 0;

  transition: all 0.3s ease-out;
  rotate: 180deg;
}
.active .toggle-icon {
  right: 1rem;
  rotate: 0deg;
}

.sub-menu {
  width: 0rem;
  height: 100%;
  top: 2rem;
  position: absolute;
  background-color: #30170c;
  border-radius: 1rem;

  right: 0rem;
  transition: all 0.2s ease-out;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  pointer-events: none;
  visibility: hidden;
  z-index: 999;
}

.li:hover .sub-menu {
  width: 19.5rem;
  pointer-events: all;
  visibility: unset;
}

.mobile-sidebar {
  position: relative;
  min-width: 6rem;
  width: 6rem;
  left: 0rem;

  background-color: rgb(240, 240, 240);
  transition: all 0.15s ease-in;

  z-index: 99;

  .sub-menu {
    width: 0rem;
    height: 100%;
    top: 2rem;
    position: absolute;
    background-color: #30170c;
    border-radius: 1rem;

    right: 0rem;
    transition: all 0.2s ease-out;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    pointer-events: none;
    visibility: hidden;
    z-index: 999;
  }

  .li:hover .sub-menu {
    width: 8rem;
    pointer-events: all;
    visibility: unset;
  }
}

.sidebar-open-icon {
  display: none;
}

@include respond(md) {
  .sidebar {
    position: absolute;
    height: calc(100% + 1rem);
    top: 0.3rem;

    left: -25rem;

    background-color: rgb(240, 240, 240);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.15s ease-in;
    z-index: 9999999;

    overflow: hidden;
  }
  .sidebar-open-icon {
    display: block;
    position: fixed;
    height: 3rem;
    width: 3em;
    color: rgba(0, 0, 0, 0.75);
    bottom: 1rem;
    left: 1rem;
    z-index: 999;
  }

  .sidebar.active {
    left: 0em;
  }
}
