@import "../../../../utils/mixins";

.wrapper {
  position: relative;

  padding-block: 15rem;
  padding-inline: var(--padding-page-inline);
  overflow: hidden;
}

.wrapper::before {
  content: "";
  background-image: linear-gradient(
      0deg,
      rgba(rgb(255, 255, 255), 0.5) 0%,
      rgba(rgb(255, 255, 255), 1) 0%,
      transparent 5%
    ),
    url(../../../../assets/recentlyAdoptedBackground.jpg);

  position: absolute;
  background-size: 50%;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0.1;

  z-index: -99;

  animation: rotation 7s infinite;
}

.wrapper::after {
  content: "";
  background: linear-gradient(var(--color-brown-300), var(--color-brown-400));
  border-radius: 3rem;
  position: absolute;
  width: calc(100% - var(--padding-page-inline));
  height: 45rem;
  left: 50%;
  top: 40rem;
  translate: -50% 0;

  z-index: -1;

  clip-path: polygon(0 33%, 100% 23%, 100% 100%, 0% 100%);
}

.wrapper .header {
  background-image: linear-gradient(rgb(80, 34, 7), rgb(39, 14, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-size: 6.4rem;
  font-weight: 600;
  color: rgb(80, 80, 80);
  text-align: center;
  margin-bottom: 7.5rem;
}

.list {
  display: grid;
  justify-items: center;
  justify-content: space-between;

  grid-template-columns: repeat(auto-fit, 30rem);
  grid-auto-rows: 45rem;
  min-height: 30rem;
}

.scaleUp {
  scale: 1.05;
}
.scaleDown {
  scale: 0.95;
}

@keyframes rotation {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 5deg;
  }
}

@include respond(md) {
  .wrapper {
    padding-block: 7.5rem;
    padding-inline: var(--padding-page-inline);
  }
  .wrapper::after {
    display: none;
  }
  .wrapper::before {
    background-size: 100%;

    top: 0px;
    right: 0px;
    left: -50px;
    bottom: 0px;
    opacity: 0.1;
  }
  .list {
    justify-content: center;

    grid-template-columns: 45rem;
    grid-auto-rows: 50rem;
    min-height: 50rem;

    gap: 10rem;
  }
}
