.section {
  padding-inline: var(--padding-page-inline);
  padding-block: 3.2rem;

  transition: all 0.5s;
}

.h1 {
  font-size: 3.8rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: var(--color-brown-600);
}

.h2 {
  display: inline-block;
  font-size: 2.8rem;
  color: var(--color-brown-600);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.h3 {
  font-size: 2rem;
  color: var(--color-brown-600);
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.paragraph:last-of-type {
  font-weight: 600;
}
