.wrapper {
  display: flex;
  padding-inline: var(--padding-page-inline);
  max-width: var(--max-width);
  margin-top: 4.8rem;
  margin-bottom: 9.6rem;
  margin-inline: auto;
}
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h2 {
  font-size: 6.4rem;
  line-height: 7rem;
  margin-bottom: 1.8rem;
  color: rgb(50, 50, 50);

  position: relative;

  picture {
    position: absolute;
    bottom: -90px;

    img {
      width: 120px;
    }
  }
}

.h3 {
  font-size: 2.2rem;
  margin-bottom: 5.6rem;
  color: rgb(40, 40, 40);
}
.button {
  align-self: flex-start;

  background: var(--main-gradient);

  border: none;
  border-radius: 10em;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 4.5rem;

  color: var(--color-white);

  text-transform: uppercase;
  font-weight: 600;

  cursor: pointer;
  // transition: all 0.15s cubic-bezier(0, -0.59, 0.41, 2.4);
}
.picture {
  display: flex;
  justify-content: end;
  flex: 1.2;

  img {
  }
}
