.wrapper {
  padding: 3.2rem;
  margin: 1.6rem;
  width: 100%;
  z-index: 99;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.radioContainer {
  flex-direction: row;
  justify-content: start;
  margin-left: unset;
  height: unset;
}

.radioBtn {
  width: 15rem;
}

.modal {
  padding: 3.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;

  p {
    font-size: 1.8rem;
    font-weight: 300;

    span {
      font-weight: 600;
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;

  button {
    border: none;
    border-radius: 5rem;
    height: 4rem;
    width: 9.6rem;

    cursor: pointer;
  }

  .btn-delete {
    background: var(--main-gradient);
    color: white;

    &:hover {
      background: var(--main-gradient-hover);
    }
  }

  .btn-cancel:hover {
    background-color: rgb(230, 230, 230);
  }
  .btn-disabled {
    background-color: rgb(236, 236, 236);
  }
}
