.li {
  list-style: none;
  position: relative;
  transition: all 0.8s ease-in-out;

  a {
    text-decoration: none;
  }

  .spinner {
    position: absolute;
    margin: 0 auto;
    translate: -50% -50%;
    top: 50%;
    left: 50%;

    width: 60px;
    height: 60px;
    border-top: 5px solid #421b00;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 45rem;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 2.5rem;

  cursor: pointer;
  list-style-type: none;

  background-color: white;

  & > *:not(.spinner) {
    animation: reveal 1s;
  }
}

.image-wrapper {
  overflow: hidden;
  width: 100%;
  flex: 2;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s ease-in;
  }
}

.card:hover .image {
  scale: 1.1;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  p {
    font-size: 1.4rem;
    color: black;
  }

  .name span {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-brown-400);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
