.wrapper {
  display: flex;
  min-height: calc(100vh - 9.6rem);
  position: relative;
}

.spinner {
  position: relative;
  border-top: 3px solid #6e2c00;
  width: 60px;
  height: 60px;
  margin: auto;
}

.card {
  perspective: 100rem;
  position: absolute;
  width: 30rem;
  right: 1rem;
  cursor: pointer;

  &__side {
    font-size: 1.4rem;

    height: 5rem;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;

    border-radius: 0 0 1rem 1rem;

    &--front {
      background-color: rgb(126, 31, 31);
    }

    &--back {
      transform: rotateY(180deg);
      background-color: rgb(85, 30, 30);
      color: white;
      font-size: 1.2rem;
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
