.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.btn {
  border: none;
  background: var(--main-gradient);
  color: white;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 100rem;
  cursor: pointer;
}
