@import "../../../utils/mixins";

.form-wrapper {
  width: 100%;
  z-index: 99;

  form {
    width: 100%;
    padding: 6.4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    z-index: 0;

    .btn {
      border-radius: 25rem;
      background: var(--main-gradient);
      color: white;
      font-size: 1.6rem;
      cursor: pointer;

      padding: 1.2rem 4.8rem;
      width: 30rem;
      align-self: center;
      margin-top: 2.4rem;

      display: flex;
      justify-content: center;
      gap: 1rem;

      position: relative;
    }

    .spinner {
      position: absolute;
      translate: -7rem;
    }

    .form-row {
      display: flex;
      gap: 1rem;

      & div:first-of-type {
        width: 50rem;
      }
    }
  }
}

@include respond(md) {
  .form-wrapper {
    form {
      .form-row {
        flex-direction: column;
        & div:first-of-type {
          width: 100%;
        }
      }
    }
  }
}
