.form-wrapper {
  width: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  form {
    width: 100%;
    padding: 6.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .btn {
      border-radius: 25rem;
      background: var(--main-gradient);
      color: white;
      font-size: 1.6rem;
      cursor: pointer;

      padding: 1.2rem 4.8rem;
      width: 30rem;
      align-self: center;
      margin-top: 2.4rem;

      display: flex;
      justify-content: center;
      gap: 1rem;

      position: relative;
    }

    .spinner {
      position: absolute;
      translate: -7rem;
    }

    .form-row {
      display: flex;

      & div:first-of-type {
        width: 50rem;
      }
    }
  }
}
