.form-wrapper {
	display: flex;
	justify-content: center;
	padding: 6.4rem;
	margin: 0 auto;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 40rem;
	z-index: 0;
}

.btn {
	border-radius: 25rem;
	background: var(--main-gradient);
	color: white;
	font-size: 1.6rem;
	cursor: pointer;

	padding: 1.2rem 4.8rem;
	width: 100%;
	margin-top: 2.4rem;

	display: flex;
	justify-content: center;
	gap: 1rem;

	position: relative;
}

.spinner {
	position: absolute;
	translate: -7rem;
}
