.btn {
  background: none;
  border: none;

  font-size: 2rem;
  color: rgb(75, 30, 0);
  text-decoration: underline;

  cursor: pointer;
  position: absolute;
  top: 13rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}
