.wrapper {
  padding: var(--padding-page-inline);
  display: flex;
  gap: 3.2rem;
}

.picture {
  flex: 1.5;
  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;

    border-radius: 1rem;
  }
}

.info {
  flex: 1;
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 1.6rem;
  li {
    display: flex;
    gap: 1rem;
    .label {
    }
    .value {
      color: var(--color-brown-600);
      font-weight: 600;
    }
    .description {
      margin-top: 1rem;
      text-align: justify;

      font-size: 1.5rem;
      font-weight: 300;
      line-height: 2.2rem;
    }
  }
}

.spinner {
  border-top: 3px solid #6e2c00; /* Blue */
  width: 60px;
  height: 60px;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
}
