@import "../../../utils/mixins";

.wrapper {
  padding-inline: var(--padding-page-inline);
  padding-block: 9.6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content min-content 1fr 1fr;
  gap: 3.2rem;
  animation: reveal 1s;
}

.picture {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.ul {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;

  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 1.6rem;
  li {
    display: flex;
    gap: 1rem;
    .label {
    }
    .value {
      color: var(--color-brown-600);
      font-weight: 600;
    }
  }
}

.description {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;

  margin-top: 1rem;
  text-align: justify;

  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.2rem;
}
.spinner {
  border-top: 3px solid #6e2c00; /* Blue */
  width: 60px;
  height: 60px;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include respond(md) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
  }
  .picture {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }
  .ul {
    grid-row: 1 / span 2;
    grid-column: 4;
    align-self: center;
    font-size: 1.8rem;
  }

  .description {
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@include respond(sm) {
  .wrapper {
    grid-template-rows: 1fr 1fr min-content min-content;
  }
  .picture {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
  }
  .ul {
    grid-row: 3;
    grid-column: 1 / span 4;
    align-self: center;
    font-size: 2rem;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .description {
    grid-column: 1 / span 4;
    grid-row: 4;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}
