.unauthorized {
  margin: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  p {
    display: inline;
    font-size: 2rem;
    color: var(--color-brown-200);
    text-align: center;
  }
}
