.form-row {
  display: grid;

  font-size: 1.4rem;
  position: relative;
  gap: 2px;

  width: 100%;

  input {
    padding: 1.2rem;
    width: 100%;
    border: 0.5px solid var(--color-brown-200);
    border-radius: 25rem;
  }
  input[type="file"] {
    border: unset;

    &::file-selector-button {
      border: none;
      padding: 1rem 2rem;
      border-radius: 25rem;
      background: var(--main-gradient);
      color: white;
      font-weight: 300;
      font-size: 1.4rem;
    }
  }
}

.form-row.error {
  input {
    border: 1px solid red;
    background-color: rgb(255, 210, 210);
  }
  label {
    color: red;
  }
  input[type="file"] {
    background-color: unset;
    border: unset;
  }
}
.error-message {
  position: absolute;
  //   left: 45%;
  //   top: 4rem;
  left: 0.5rem;
  bottom: -1.3rem;

  color: rgb(224, 0, 0);

  font-size: 1rem;
}
