.select {
	width: 100%;
	padding: 1.2rem;

	border-radius: 25rem;
	border: none;
	border: 0.5px solid var(--color-brown-200);

	color: var(--color-brown-400);

	font-size: 1.4rem;
	letter-spacing: 1.5px;
}
