.form-row {
  display: grid;

  font-size: 1.4rem;
  position: relative;
  gap: 2px;

  width: 100%;

  textarea {
    padding: 1.2rem;
    width: 100%;
    height: 4rem;
    min-height: 10rem;
    border: 0.5px solid var(--color-brown-200);
    border-radius: 2rem;
    resize: none;
    overflow: hidden;
  }
}

.form-row.error {
  textarea {
    border: 1px solid red;
    background-color: rgb(255, 210, 210);
  }
  label {
    color: red;
  }
  textarea[type="file"] {
    background-color: unset;
    border: unset;
  }
}
.error-message {
  // position: absolute;
  left: 45%;
  top: 4rem;

  color: rgb(224, 0, 0);

  font-size: 1rem;
}
