.section {
  padding-inline: var(--padding-page-inline);
  padding-block: 3.2rem;

  .h1 {
    font-size: 3.8rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: var(--color-brown-600);
  }
}

.articles {
}
