.filter {
  padding: 4.8rem;
  margin-bottom: 6.4rem;
  margin-inline: auto;
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2.5rem;

  background-image: linear-gradient(#ffffffd2, #ffffffc2),
    url(../../../assets/filter-background.jpg);
  // background-position: 0 20%;
  background-size: 100%;
  background-position: 0 55%;

  display: grid;
  grid-template-columns: repeat(12, minmax(45px, 120px));
  grid-template-rows: repeat(2, 1fr);

  align-items: end;
  justify-content: center;

  row-gap: 3rem;
  column-gap: 2rem;

  min-height: 10vh;
  width: 100%;
  max-width: 160rem;
}

.age {
  grid-column: 1 / span 3;
  grid-row: 1;
}
.weight {
  grid-column: 1 / span 3;
  grid-row: 2;
}
.breed {
  grid-column: 4 / span 3;
}

.dog {
  grid-row: 1;
  grid-column: 7 / span 2;
}

.cat {
  grid-row: 1;
  grid-column: 9 / span 2;
}

.adoptedAt {
  grid-column: 4 / span 3;
  grid-row: 2;
}

.gender {
  grid-row: 1;
  grid-column: 11 / span 2;
}
.name {
  grid-row: 2;
  grid-column: 7 / span 3;
}

.submit-btn {
  border: none;
  border-radius: 25rem;
  box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.1);
  background: linear-gradient(var(--color-brown-200), var(--color-brown-400));
  color: white;
  font-weight: 300;
  font-size: 1.8rem;
  cursor: pointer;

  padding: 1.2rem 4.8rem;

  display: flex;
  justify-content: center;
  justify-self: center;
  gap: 1rem;
  width: 100%;

  position: relative;

  grid-column: 10 / span 3;
  grid-row: 2;
}
