@mixin main-gradient($col) {
  background: $col;
  border: none;
  border-radius: 25rem;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    //600px
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == md {
    //900px
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == lg {
    // 1040px
    @media (max-width: 65em) {
      @content;
    }
  }
  @if $breakpoint == xl {
    // 1200px
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == 2xl {
    @media (min-width: 100em) {
      @content;
    }
  }
}
