@import "../../../../utils/mixins";

.hero {
  padding-inline: var(--padding-page-inline);

  display: flex;
  justify-content: space-between;
  gap: 6.4rem;
  margin-top: 12.5rem;
  margin-bottom: 15rem;
  margin-inline: auto;
  max-width: var(--max-width);
}

.img-container {
  .image {
    width: 100%;
    max-width: 65rem;
  }
}

@include respond(md) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
}
@include respond(sm) {
  .hero {
    flex-direction: column;
    align-items: center;
    padding-inline: unset;

    margin-top: 6rem;
    margin-bottom: 10rem;
  }

  .img-container {
    padding-inline: 4.8rem;
  }
}
