.header {
  position: relative;
  height: 9.6rem;

  padding-inline: var(--padding-page-inline);

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);

  z-index: 999;
}
.logo-img {
  height: 6rem;
}

.logo-img img {
  height: 100%;
}

.wrapper {
  > div {
    transition: all 0.2s ease-out;
  }

  > nav {
    transition: all 0.2s ease-out;
  }

  & div:first-child {
    translate: 0 0rem;
  }
  & nav:first-child {
    translate: 0 0rem;
  }
}

.wrapper.active {
  > div {
    translate: 0 0rem;
  }

  > nav {
    translate: 0 -10rem;
  }
}

@media (max-width: 425px) {
  .logo-img.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
