@import "../../../utils/mixins.scss";
.nav {
  position: absolute;
  top: 9.6rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: end;
}
.ul {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  height: 100vh;
  width: 100%;

  transition: all 1s;

  background-color: rgba(245, 245, 245, 0.89);

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  font-size: 3.6rem;
  font-weight: 300;

  animation: reveal 0.2s;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    translate: 0 -5rem;
  }
}

.nav-icon {
  height: 3rem;
  width: auto;
  color: var(--color-brown-300);
}
.cross-icon {
  height: 3rem;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  text-decoration: none;
  width: 100%;
  height: 8rem;

  &:hover {
    background: radial-gradient(
      circle,
      rgb(223, 192, 164) 0%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &--1 {
    color: var(--color-nav-link-1);

    &:hover .nav-icon {
      animation: bump 0.75s infinite;
    }
  }
  &--2 {
    @include main-gradient(var(--main-gradient));
    padding: 0.8rem 2.4rem;
    color: var(--color-white);

    transition: all 0.15s cubic-bezier(0, -0.59, 0.41, 2.4);

    & .nav-icon {
      color: white;
      height: 2.4rem;
    }

    &:hover {
      translate: 0 -2px;
      box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.15);
    }
  }
}
.btn-wrapper {
  display: flex;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, -0.59, 0.41, 2.4);
  margin-right: 2.5rem;

  &:hover {
    scale: 1.1;
  }

  .search-icon {
    height: 3rem;
    width: auto;
  }
}

@keyframes bump {
  0% {
    translate: 0;
  }
  20% {
    translate: 0rem -1px;
  }
  40% {
    translate: 0rem -1.5px;
  }
  60% {
    translate: 0rem -2px;
  }
  80% {
    translate: 0rem -1.5px;
  }
  100% {
    translate: 0rem -0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
