@import "../../../utils/mixins.scss";

.ul {
  display: flex;
  list-style: none;
  gap: 2.4rem;

  font-size: 1.8rem;
  font-weight: 300;

  li {
    display: flex;
    align-items: center;
  }
}

.nav-icon {
  height: 3rem;
  width: auto;
  color: var(--color-brown-300);
}

.link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  text-decoration: none;

  &--1 {
    color: var(--color-nav-link-1);

    &:hover .nav-icon {
      animation: bump 0.75s infinite;
    }
  }
  &--2 {
    @include main-gradient(var(--main-gradient));
    padding: 0.8rem 2.4rem;
    color: var(--color-white);

    transition: all 0.15s cubic-bezier(0, -0.59, 0.41, 2.4);

    & .nav-icon {
      color: white;
      height: 2.4rem;
    }

    &:hover {
      translate: 0 -2px;
      box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.15);
    }
  }
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, -0.59, 0.41, 2.4);

  &:hover {
    scale: 1.1;
  }

  .search-icon {
    height: 3rem;
    width: auto;
  }
}

@keyframes bump {
  0% {
    translate: 0;
  }
  20% {
    translate: 0rem -1px;
  }
  40% {
    translate: 0rem -1.5px;
  }
  60% {
    translate: 0rem -2px;
  }
  80% {
    translate: 0rem -1.5px;
  }
  100% {
    translate: 0rem -0px;
  }
}
