.search-content {
  display: flex;
  position: absolute;
  height: 9.6rem;
  right: var(--padding-page-inline);
  top: 0;
  translate: 0 -10rem;
  gap: 1rem;
}

.picture {
  height: 6rem;
  rotate: 180deg;

  img {
    height: 6rem;
    width: 8rem;
  }
}

.search-input {
  width: 40vw !important;
  align-self: center;

  & input {
    outline: none;
    font-size: 1.6rem;
  }
}

.search-input.focus input {
  border-radius: 2rem 2rem 0 0;
  border-bottom: none;
  outline: none;
}
